---
import Layout from '@layouts/Layout.astro';
import MansoryLayout from '@layouts/MansoryLayout.astro';
import { Image } from 'astro:assets';
import gallery from '@data/gallery.ts';
import Dialog from '@components/Dialog.astro';
---

<Layout title="">
    <MansoryLayout title="Art Gallery">
        {gallery.map(image => (
            <div class="flex justify-center gallery-image">
                <Image
                    id={`${image.id}`}
                    src={image.data}
                    alt={image.alt}
                    data-title={image.title}
                    data-width={image.width}
                    data-height={image.height}
                    data-material={image.material}
                    width={300}
                    role="button"
                    class:list={[
                        `
                            cursor-pointer
                            hover:scale-110 
                            transition-all 
                            ease-in-out 
                            duration-150
                            dialog-trigger
                        `
                    ]}
                />
            </div>
        ))}

       <Dialog
            id="dialog"
            maxWidth="md"
            ariaDescribedby="Dialog"            
        >
            <div slot="dialog-header"></div>
            <div slot="dialog-body">
                <div class="flex gap-24">
                    <img 
                        id="dialog-image"
                        class="w-6/12"
                    >
                    <div class="mt-20 w-4/12">
                        <h3
                            id="dialog-title"
                            class="heading mb-8"
                        ></h3>
                        <div class="mb-4 flex justify-between">
                            <p 
                                class="text-gray font-light"
                            >
                                Material
                            </p>
                            <p id="art-material">asfsaf</p>
                        </div>
                        <div class="flex justify-between">
                            <p 
                                class="text-gray font-light"
                            >
                                Dimensões
                            </p>
                            <p id="art-dimensions"></p>
                        </div>                    
                    </div>
                </div>
            </div>
        </Dialog>
    </MansoryLayout>
</Layout>

<style>
    .gallery-image:nth-child(3n+2) img {
        margin-top: -50px;
        margin-bottom: 50px;
    }

    @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
            .gallery-image {
                animation: fade linear both;
                animation-range: entry 10% contain 25%;
                animation-timeline: view();
                view-timeline: --subjectReveal block;
            }
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        80% {
            opacity: 1;
            transform: scale(1);
        }
    }
</style>

<script>
    interface ListenerObject {
        trigger: HTMLElement;
        listener: any
    }

    let triggers: NodeListOf<HTMLElement>;
    let listeners: ListenerObject[] = [];

    function init() {
        triggers = document.querySelectorAll('.dialog-trigger')
        listeners = [];
    
        triggers?.forEach(trigger => {
            const listener= trigger.addEventListener('click', showModal)
            listeners.push({
                listener: listener,
                trigger: trigger,
            })
        })
    }

    function showModal(event: Event) {
        const dialog: HTMLDialogElement | null = document.querySelector('#dialog');

        if (!dialog) return;

        const selectedImage = event.target as HTMLImageElement;

        setModalImage(selectedImage)
        setModalContent(selectedImage)

        dialog.showModal()
     }

    function setModalContent(selectedImage: HTMLImageElement) {
        const dialogTitle: HTMLElement | null = document.querySelector('#dialog-title');
        const artMaterial: HTMLElement | null = document.querySelector('#art-material');
        const artDimensions: HTMLElement | null = document.querySelector('#art-dimensions');

        if (dialogTitle) {
            dialogTitle.innerHTML = selectedImage.dataset.title || ''
        }

        if (artMaterial) {
            artMaterial.innerHTML = selectedImage.dataset.material || ''
        }

        if (artDimensions) {
            artDimensions.innerHTML = `${selectedImage.dataset.width} cm x ${selectedImage.dataset.height} cm` || ''
        }
    }

    function setModalImage(selectedImage: HTMLImageElement) {
        const dialogImage: HTMLImageElement | null = document.querySelector('#dialog-image');

        if (dialogImage) {
            dialogImage.src = selectedImage.src
            dialogImage.alt = selectedImage.alt
        }
    }

    document.addEventListener('astro:before-swap', () => {
        listeners?.forEach(item => {
            item.trigger.removeEventListener('click', item.listener);
        });
    });

    document.addEventListener("astro:after-swap", init);
    init()
</script>