---
import Navbar from '@components/Navbar.astro';
import NavbarItem from '@components/NavbarItem.astro';
import Sidebar from '@components/Sidebar.astro';
import SidebarIcon from '@components/SidebarIcon.astro';
import MenuItems from '@data/navbar.ts';
import SidebarIcons from '@data/sidebar.ts';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link 
			href="https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		>
		<ViewTransitions />
	</head>
	<body class="bg-paper-100">
		<Navbar>
			{MenuItems.map((item) => 
				<NavbarItem 
					description={item.description}
					href={item.href}
					isActive={item.href === Astro.url.pathname}
				/>
			)}
		</Navbar>
		<main class="container m-auto p-12">
			<slot />
		</main>
		<Sidebar>
			{SidebarIcons.map((item) => 
				<SidebarIcon 
					iconName={item.iconName}
					href={item.href}
				/>
			)}
		</Sidebar>
	</body>
</html>
<style is:global>
	*, *::before, *::after {
		box-sizing: border-box;
	}

	* {
		padding: 0;
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 96px;
		grid-template-rows: auto;
		grid-template-areas: 
			"header header header header"
			"main main main sidebar"
			"footer footer footer footer";
	}

	.container {
		grid-area: main;
	}
</style>